.list-box-inner{
  margin:10px;
  input, button, textarea, h5, .color-wrap, span {
    margin:20px auto;
    display:block;
  }
  input, textarea, h5, .color-wrap, span {
    width:70%;
  }
  .input-type{
    display:block;
  }
  .color-wrap{
    position:relative;
  }
  .color-choice{
    padding-left:5px;
  }
  .dropdown-menu{
    border-radius:0px;
    margin:0px;
    padding:0px;
    top:none;
    left:none;
  }
}
.list-label{
  font-size: 35px;
  padding:25px 0px;
}
.list-result-data{
  margin:5px 0px;
  background:@main-nav-back;
}
.movie-list-field{
  .add{
    background-color:@green-button;
    color:white;
    padding:2px 4px;
    cursor:pointer;
    font-weight:bold;
    margin:2px;
  }
  .movie-list{
    padding:2px;
    margin:2px;
    font-weight:bold;
  }
}
.movie-list-box-inner{
  margin: 10px;
  padding-left: 20px;
  .list-wrap{
    padding:10px;
    margin:5px;
    font-weight:bold;
  }
  .check{
    cursor:pointer;
  }
}
.add-list-icon{
  background-color:@green-button;
  color:white;
  padding:2px 8px;
  cursor:pointer;
  font-weight:bold;
}
.list-movie-results{
  max-height: 300px;
  overflow-y: scroll;
}
.movie-list-box-inner{
  .search-results{
    margin-top:10px;
  }
}