/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */


@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/tooltip.less';


/**
 * And now any configurations for our custom fonts.
 */

@import 'font-awesome.less';

/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

body{
  background: @body-back;
  color: @body-color;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: @orange;
}

a {
  color:@white;
  cursor:pointer;
  &:hover{
    color: @orange;
    text-decoration:none;
  }
}

.main-container{
  padding:0px;
}

.message{
  margin:10px 0px;
  font-style:italic;
  font-size:12px;
}

input{
  border: 2px solid @input-border;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 5px;
  height: 25px;
  text-indent: 6px;
}

.property{
  color:  @orange;
}

.rating{
  color:@user-back;  
}

.nav-bar {
  list-style: none;
  background-color: @main-nav-back;
  padding:0px;
  height:100%;
  font-weight:bold; 
  a{
    text-decoration:none;
    font-size: 15px;
    .transition( 250ms ease-in-out );
  }
  ul{
    li{
      display: inline-block;
      text-align:center;
      padding:10px;
    }
  }
}

.active{
  color:#f39c12;
  cursor:pointer;
} 

.content{
  padding:10px;
  background-color: @content-back;
  min-height:500px;
}

.left-padded-content{
  padding-left:10px;  
}

.login-btn{
  padding:10px;
  cursor:pointer;
  position:absolute;
  top:0px;
  right:0px;
  text-decoration:none;
  font-weight:bold;
  &:hover{
    text-decoration:none;
    color:@user-back;
  }
}

footer{
  background-color: @main-nav-back;
  font-size: 15px;
  padding: 0;
  margin-top: 50px;

  .footer-inner {
    padding: 20px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );
      }
    }
  }  
}

/** modules **/
@import 'user.less';
@import 'search.less';
@import 'movie.less';
