/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */


@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/buttons.less';

@main-nav-back: rgba(25, 25, 25, 0.8);
@content-back: #2a2a2a;
@body-back: #1a1a1a;
@body-color: #999;
@input-border:#bdc3c7;

input{
  border: 2px solid @input-border;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  .border-radius(6px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}


/**
 * And now any configurations for our custom fonts.
 */

@import 'font-awesome.less';

/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

body{
  background: @body-back;
  color: @body-color;
  font-family: 'Droid Sans', sans-serif;
}

a {
  color:#ffffff;
  &:hover{
    color: #f39c12;
  }
}

.main-container{
  padding:0px;
}

.nav-bar {
  list-style: none;
  background-color: @main-nav-back;
  padding:0px;
  height:100%;
  font-weight:bold; 
  a{
    text-decoration:none;
    font-size: 15px;
    .transition( 250ms ease-in-out );
  }
  ul{
    li{
      display: inline-block;
      text-align:center;
      padding:10px;
    }
  }
}

.active{
  color:#f39c12;
  cursor:pointer;
} 

.content{
  padding:10px;
  background-color: @content-back;
  min-height:500px;
}

footer{
  background-color: @main-nav-back;
  font-size: 15px;
  padding: 0;
  margin-top: 50px;

  .footer-inner {
    padding: 20px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );
      }
    }
  }  
}

/**
* Animation
*/
.enter-view-setup{
    -webkit-transition: 2s linear all; 
    -webkit-transition: 2s linear all;
    -moz-transition: 2s linear all;
    -o-transition: 2s linear all;
    transition: 2s linear all;
    opacity: 0;
}
.enter-view-setup.enter-view-start{
    opacity: 1;
}

/** modules **/
@import '../app/user/user.less';
@import '../app/search/search.less';

.search-input{
  padding-top:10px;
}
.list-result{
  padding: 10px 0px;
  margin:5px 0px;
  border: 1px solid @input-border;
  img{
    display:block;
    margin:0 auto;
  }
}