/**
* Styles for user /login page
*/

.user-box{
  .login-box, .reg-box{   
    margin:10px; 
    input,button{
      margin:5px auto;
    }
    .btn{
      display:block;
    }
    img{
      display:block;
      margin:5px auto;
    }
  }
  .user-box-inner{
    padding:20px;
  }
}
.dashboard-rec{
  padding:10px;
  background:@main-nav-back;
  .row{
    margin:20px 0px;
  }
}
.center-align{
  margin:0 auto;
}
.dashboard-col{
  text-align:center;
}
.dashboard-number {
   -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 82px;
    height: 82px;
    padding: 30px;
    border: 2px solid;
    text-align: center;
    font: 64px @main-font;
}
.movies-rated{
  border-color:@amethyst;
  color:@amethyst;
}
.lists-created{
  border-color:@light-blue;
  color:@light-blue;
}
.list-movies{
  border-color:@yellow;
  color:@yellow;
}
.dashboard-val{
  padding-top:10px;
  font-size:20px;
  font-weight:bold;
}