/**
* Styles for user /login page
*/

.user-box{
  color:#FFFFFF;
  background-color: @content-back;
  box-shadow: 0 0 20px grey,inset 0 0 5px grey;
  .login-box, .reg-box{   
    margin:10px; 
    input,button{
      margin:5px auto;
    }
    .btn{
      display:block;
    }
    img{
      display:block;
      margin:5px auto;
    }
  }
  .user-ribbon{
    background-color: @yellow;
    height:20px;
  }
  .user-box-inner{
    padding:20px;
  }
}