<div class="list-box popup" ng-init="init()">
  <div class="row-fluid">
    <div class="row-fuild ribbon">
      <span class="pull-right" ng-click="close()">
        <i class="icon-remove-sign close-btn"></i>
      </span>
    </div>
    <div class="row-fluid movie-list-box-inner">
      <h5> Add '{{movie.title}}' To Lists </h5>
      <span ng-repeat="list in lists" class="list-wrap-outer">
        <div ng-style="{background : list.color}" class="list-wrap span11">
          <i class="icon-check check" ng-if="checked[list._id]" ng-click="toggleMovieList(list._id)"></i>
          <i class="icon-check-empty check" ng-if="!checked[list._id]" ng-click="toggleMovieList(list._id)"></i>
          <span>{{list.name}}</span>
        </div>
      </span>
      {{lists.length}}
      <span ng-if="none">No lists found.</span>
    </div>
  </div>
</div>