<div class="login-box row-fluid">
	<h5>Login:</h5>
	<input type="text" class="span11" placeholder="Username">
	<input type="password" class="span11" placeholder="Password">
	<button class="btn span11 btn-warning" type="button" ng-click="login()">Login</button>
</div>
<hr/>
<div class="reg-box row-fluid">
	<h5>Register:</h5>
	<input type="text" class="span11" placeholder="Username">
	<input type="password" class="span11" placeholder="Password">
	<input type="password" class="span11" placeholder="Confirm password">
	<button class="btn span11 btn-warning" type="button" ng-click="register()">Register</button>
</div>
