<div class="row-fluid">
	<div class="row-fluid" >
		<div class="span4 offset2">
			<img src="/assets/images/yoda.png"></img>
		</div>
		<div class="span4">
			<img src="/assets/images/luke.png"></img>
		</div>
	</div>
	<div class="row-fluid">
		<div class="login-box span4 offset2">
			<h5>Login</h5>
			<input type="text" class="span8" placeholder="Username">
			<input type="password" class="span8" placeholder="Password">
			<button class="btn span8 btn-warning" type="button" ng-click="login()" >Login</button>
		</div>
		<div class="reg-box span4 ">
			<h5>Register</h5>
			<input type="text" class="span8" placeholder="Username">
			<input type="password" class="span8" placeholder="Password">
			<input type="password" class="span8" placeholder="Confirm password">
			<button class="btn span8 btn-warning" type="button" ng-click="register()">Register</button>
		</div>
	</div>
</div>