<!DOCTYPE html>
<html ng-app="gojira">
  <head>
    <title>gojira</title>
    <link rel="stylesheet" type="text/css" href="assets/<%= grunt.config.get('pkg.name') %>.css"/>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css>
    <![endif]-->


    <script type="text/javascript" src="assets/libs.js"></script>

    <script type="text/javascript" src="assets/<%= grunt.config.get('pkg.name') %>.js"></script>
  </head>
  <body>
    <div class="container-fluid main-container">
      <div class="nav-bar" ng-controller="AppCtrl" data-ng-init="init()">
        <ul class="top-nav">
          <li ui-route="/user/{{user._id}}" ng-if="isLoggedIn">
            <a href="#/user/{{user._id}}" ng-class="{active:$uiRoute}">
              <i class="icon-user"></i>
              {{user.name}}
            </a>
          </li>
          <li ui-route="/search">
            <a href="#/search" ng-class="{active:$uiRoute}">
              <i class="icon-search"></i>
              Search
            </a>
          </li>
          <li ui-route="/ratings">
            <a href="#/ratings" ng-class="{active:$uiRoute}">
              <i class="icon-star"></i>
              My Ratings
            </a> 
          </li>
          <li ui-route="/lists">
            <a href="#/lists" ng-class="{active:$uiRoute}">
              <i class="icon-list"></i>
              My Lists
            </a>
          </li>
        </ul>
        <alert type="alert.type" ng-if="showAlert"><i class="{{alert.icon}}" ></i> {{alert.msg}} </alert>
      </div>
      <div class="user-feed row-fluid" ng-controller="AuthCtrl" data-ng-init="init()" >
          <a class="login-btn" ng-click="toggleUser()" >
            <i class="{{userIcon}}"></i>
            {{userText}}
          </a>
      </div>
      <div class="row-fluid">
        <div class="span12 left-pane" ng-controller="AppCtrl">
          <div class="content" ng-view>
          </div>
        </div>
      </div>
    </div>  
    <footer>
      <div class="footer-inner">
        <ul class="social">
          <li><a target="_blank" href="http://twitter.com/syamsasikumar"><i class="icon-twitter-sign"></i></a></li>
          <li><a target="_blank" href="http://linkedin.com/in/syamsasikumar"><i class="icon-linkedin-sign"></i></a></li>
          <li><a target="_blank" href="http://github.com/syamsasikumar"><i class="icon-github-sign"></i></a></li>
        </ul>
        <p>
          (c) 2013 Syam Sasikumar. Built using <a href="http://angularjs.org/" target="_blank">Angularjs</a>. Data provided by <a href="http://www.themoviedb.org/" target="_blank">TMDB</a> API.
        </p>
      </div>
    </footer>
  </body>
</html>
