<!DOCTYPE html>
<html ng-app="gojira">
  <head>
    <title>gojira</title>

    <!-- your compiles CSS -->
    <link rel="stylesheet" type="text/css" href="assets/<%= grunt.config.get('pkg.name') %>.css"/>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css>
    <![endif]-->

    <!-- libs.js contains all of the concatenated third-party libraries -->
    <script type="text/javascript" src="assets/libs.js"></script>

    <!-- this is your compiled, minified application code -->
    <script type="text/javascript" src="assets/<%= grunt.config.get('pkg.name') %>.js"></script>
  </head>
  <body>
   <div class="container-fluid main-container">
    <div class="logo">
    LOGO
      </div>
      <ul class="breadcrumb" ng-controller="BreadCrumbCtr1">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Rate</a> <span class="divider">/</span></li>
        <li class="active">{{content}}</li>
      </ul>
      <div class="row-fluid" ng-controller="AppCtrl">
        <div class="span2">
          <div class="well side-bar">
            <ul class="nav">
              <li class="active-nav">
                <img class="img-circle" ph-img="60x60" />
                Rate
              </li>            
              <li>
                <img class="img-circle" ph-img="60x60" />
                My Ratings 
              </li>
              <li>
                <img class="img-circle" ph-img="60x60" />
                My Lists
              </li>
            </ul>
          </div>
        </div>
        <div class="span8 right-pane">
          <div class="content" ng-view>
          </div>
        </div>
        <div class="span2 user-feed">
        </div>
      </div>
      <footer>Footer blah! blah! blah!</footer>
  </body>
</html>
