<div class="row-fluid search-input" data-ng-init="auto()">
  <input type="text" class="span10 offset1" placeholder="Type to search for movies" ng-model="search" ng-keyup="auto()"/>
</div>
<h3>{{listTitle}}</h3>
<div class="row-fluid search-results" ng-hide="loaded">
  Loading..
</div>
<div class="row-fluid search-results" ng-show="loaded">
  <div class="list-result row-fluid" ng-repeat="movie in movies" >
    <div class="span1">
      <img ng-src="{{imgUrl}}/w92/{{movie.poster_path}}" ng-if="movie.poster_path" class="list-img"></img>
    </div>
    <div class="span8">
      <h4><a href="#/movie/{{movie.id}}">{{movie.title}} ( {{movie.release_date.substring(0,4)}} )</a></h4>
        <div class="row-fluid movie-list-field">
          <span class="property"> User Rating : </span>
          <rating value="movie.vote_average" max="10" readonly="true" class="rating"></rating><br/>
        </div>
        <div class="row-fluid movie-list-field" ng-if="isLoggedIn" ng-click="setRating(movie.id)">
          <span class="property" > Your Rating : </span>
          {{setDefaultRatings(movie.id)}}
          <rating value="userTemp.ratings[movie.id]" max="10" readonly="false" class="rating user-rating"></rating>
        </div>
     </div>
     <div class="pull-right rating-box" ng-class="getRatingClass(movie.vote_average)">
        <div class="rating">
          {{movie.vote_average}} <i class="icon-star"></i>
        </div>
        <div class="rating-by">
          {{movie.vote_count}} users
        </div>
     </div>
  </div>
</div>